# Container names
REDIS_CONTAINER_NAME=Redis
DB_CONTAINER_NAME=PostgreSQL
PAPERLESS_CONTAINER_NAME=Paperless-NGX
GOTENBERG_CONTAINER_NAME=Gotenberg
TIKA_CONTAINER_NAME=Tika

# Global settings and path mappings
#PAPERLESS_PORT=8000

# File storage paths
#PAPERLESS_MEDIA_DIR=/mnt/data/paperless/media
#PAPERLESS_EXPORT_DIR=/mnt/data/paperless/export
#PAPERLESS_CONSUME_DIR=/mnt/data/paperless/consume
