# Server settings
PAPERLESS_SECRET_KEY=Secret_Key
PAPERLESS_OCR_LANGUAGE=deu+eng
PAPERLESS_TRUSTED_PROXIES=Proxy_IP

# Uncomment to set admin credentials
# PAPERLESS_ADMIN_USER=admin
# PAPERLESS_ADMIN_PASSWORD=change_me_please

# Uncomment to set custom URL (only necessary for certain configurations)
PAPERLESS_URL=https://paperless.example.com
